.preset_select {
	width:30%;
}

select.chosen{
	height: 32px;
}

.ms_blue > .panel > .panel-heading {
	background: #d9edf7;
	color: #31708f;
	border-color: #bce8f1;
}
.ms_blue > .panel-default {
	border-color:#bce8f1;
}
.ms_blue > .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #bce8f1;
}
.ms_blue > panel-default > panel-heading > panel-title > a {
	color: #31708f;
}


.ms_green > .panel > .panel-heading {
	background: #dff0d8;
	color: #3c763d;
	border-color: #d6e9c6;
}
.ms_green > .panel-default {
	border-color: #d6e9c6;
}
.ms_green > .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top: 1px solid #ddd;
}
.ms_green > panel-default > panel-heading > panel-title > a {
	color: #3c763d;
}


.ms_yellow > .panel > .panel-heading {
	color: #8a6d3b;
	background: #fcf8e3;
	border-color: #faebcc;
}
.ms_yellow > .panel-default {
	border-color: #faebcc;
}
.ms_yellow > .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top: 1px solid #ddd;
}
.ms_yellow > panel-default > panel-heading > panel-title > a {
	color: #8a6d3b;
}


.ms_red > .panel > .panel-heading {
	color: #a94442;
	background: #f2dede;
	border-color: #ebccd1;
}
.ms_red > .panel-default {
	border-color: #ebccd1;
}
.ms_red > .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #ebccd1;
}
.ms_red > panel-default > panel-heading > panel-title > a {
	color: #a94442;
}

.tx-style1 {
	-webkit-box-shadow:0px 7px 10px -10px #BFC0C4
}
.tx-style1 .panel { margin: 0 !important; border: 0;  }
.tx-style1.panel-group .panel-heading{ 
	border-color: transparent; border-bottom: 1px solid #eee; border-top: 1px solid #fff; 
	padding: 20px;
}
.tx-style1 .panel-body{ 
	background: #E2E2E5; 
	-webkit-box-shadow:inset 0px 1px #BFC0C4;
}

.tx-style1 .panel-default > .panel-heading {
	background: #EFF0F4;
}


.tx-style2 {
	-webkit-box-shadow:0px 7px 10px -10px #BFC0C4
}
.tx-style2 .panel { margin: 0 !important; border: 0;  }
.tx-style2.panel-group .panel-heading{ 
	border-color: transparent; border-bottom: 1px solid #ddd; border-top: 1px solid #fff; 
	padding: 20px;
}
.tx-style2 .panel-body{ 
	background: #556465; 
	-webkit-box-shadow:inset 0px 1px #000;
	color:#fff;
	position: relative;
}
.tx-style2 .panel-body:before {
	position: absolute;
	top: -2px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
}

.tx-style2 .panel-default > .panel-heading {
	background: #FFFFFF;
}
.tx-style2 .panel-default > .panel-heading:first-child {
	border-top: 1px solid #eee;
}
.panel-heading  .tx_draging {
	position: relative;
	left: -2px;
	padding-right: 10px;
	cursor: move;
	border-right: 1px solid #000;
}
.panel-heading  .tx_draging + i {
	padding-right: 5px;
	padding-left: 5px;
}

.panel-heading  .action-remove {
	font-size: 16px;
	margin-top: -7px;
	color: #D54C48;
}
/*.panel-heading .ms_title {
	padding-left: 3px;
}*/